* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0rem 4rem 0rem 0rem;

    nav {
        ul {
            list-style: none;
            display: flex;
            gap: 5rem;
        }

        li {
            font-size: 1.3rem;
            cursor: pointer;
        }

        li:hover {
            color: #157F18;
            transition: 0.5s;
            border-bottom: 2px solid #157F18;
        }
    }

    img {
        width: 180px;
        margin: 0;
    }
}

@media only screen and (max-width: 500px) {

    header {

        img {
            width: 170px;
        }
        
        nav {

            ul {
                gap: 2rem;
            }
        }
    }
}