.memberSection {
    padding-left: 3rem;
    h2 {
        font-size: 2rem;
        padding: 1rem;
        background-color: #303030;
        width: 20%;
        border-radius: 10px;
    }

    ul {
        list-style: none;
        padding: 1rem;
    }
}