@use "../../sass/variables" as *;

.Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 5rem 0rem 5rem; /* TAMANHO DO PADDING FOOTER */
    background-color: $unifg-laranja;
    padding-bottom: 2rem;
    padding-left: 2rem;
    margin-top: 19rem;
    color: $unifg-branco;
}

.memberSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    h2 {
        font-size: 1.8rem;
    }

    ul {
        display: flex;
        padding-top: 0.5rem;
        flex-direction: row;
        gap: 10px;
    }

    li {
        list-style: none;
        font-size: 1rem;
        font-weight: 500;
    }

    .imgSec {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        #logo404 {
                width: 200px;
                height: 170px;
            }
        
            #logoAnima {
                width: 130px;
                height: 100px;
            }
        
            #logoUNIFG {
                width: 200px;
                height: 40px;
            }
    }
}

@media only screen and (max-width: 500px) {
    .Footer {
        display: flex;
        flex-direction: column;
    }

    .memberSection {
        padding-top: 2rem;
        ul {
            display: flex;
        }

                .imgSec {
        
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
        
                    #logo404 {
                        width: 200px;
                        height: 170px;
                    }
        
                    #logoAnima {
                        width: 130px;
                        height: 100px;
                    }
        
                    #logoUNIFG {
                        width: 200px;
                        height: 40px;
                    }
                }
    }
}

@media only screen and (max-width: 320px) {
    .Footer {
        display: flex;
        flex-direction: column;
    }

    .memberSection {
        padding-top: 2rem;
        ul {
            display: flex;

            li {
                font-size: .9rem;
            }
        }

                .imgSec {
        
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
        
                    #logo404 {
                        width: 200px;
                        height: 170px;
                    }
        
                    #logoAnima {
                        width: 130px;
                        height: 100px;
                    }
        
                    #logoUNIFG {
                        width: 200px;
                        height: 40px;
                    }
                }
    }
}