.modal {
}

.exterior-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: rgba(18, 18, 20, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.containerQrCode {
    padding: 1.5rem;
    background-color: white;

    height: 350px;
    width: 350px;
}

@media (min-width: 1020px) {
    .containerQrCode {
        padding: 2rem;
        background-color: white;

        height: 500px;
        width: 500px;
    }
}
