* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.869);
  color: aliceblue;
}

.mainContent {
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 8rem;

  h1 {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 3rem;
  }

    .criaAta {
      padding: 10px;
      width: 300px;
      height: 50px;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 10px;
      border: 0;
      cursor: pointer;

      a {
        text-decoration: none;
        color: black;
      }
    }
}

.ataSection {
  padding-bottom: 8rem;
}